<?xml version="1.0"?>
<config>
	<modules>
		<Shiptheory_Shippinglabels>
			<version>0.0.10</version>
		</Shiptheory_Shippinglabels>
	</modules>
	<global>
		<models>
			<shippinglabels>
				<class>Shiptheory_Shippinglabels_Model</class>
				<resourceModel>shippinglabels_mysql4</resourceModel>
			</shippinglabels>
			<shippinglabels_mysql4>
				<class>Shiptheory_Shippinglabels_Model_Mysql4</class>
			</shippinglabels_mysql4>
			<shippinglabels_mysql4>
				<class>Shiptheory_Shippinglabels_Model_Mysql4</class>
				<entities>
					<history>
						<table>shippinglabels_history</table>
					</history>
				</entities>
			</shippinglabels_mysql4>
		</models>
		<helpers>
			<shippinglabels>
				<class>Shiptheory_Shippinglabels_Helper</class>
			</shippinglabels>
		</helpers>
		<blocks>
			<shippinglabels>
				<class>Shiptheory_Shippinglabels_Block</class>
			</shippinglabels>
		</blocks>
		<events>
			<admin_system_config_changed_section_shippinglabels>
				<observers>
					<shippinglabels_config_observer>
						<class>shippinglabels/config_observer</class>
						<method>configure</method>
					</shippinglabels_config_observer>
				</observers>
			</admin_system_config_changed_section_shippinglabels>
			<sales_order_shipment_save_commit_after>
				<observers>
					<shippinglabels_sales_shipment_observer>
						<class>shippinglabels/order_observer</class>
						<method>shipment</method>
					</shippinglabels_sales_shipment_observer>
				</observers>
			</sales_order_shipment_save_commit_after>
		</events>
		<resources>
			<shippinglabels_setup>
				<setup>
					<module>Shiptheory_Shippinglabels</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</shippinglabels_setup>
			<shippinglabels_write>
				<connection>
					<use>core_write</use>
				</connection>
			</shippinglabels_write>
			<shippinglabels_read>
				<connection>
					<use>core_read</use>
				</connection>
			</shippinglabels_read>
		</resources>
	</global>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<shippinglabels after="Mage_Adminhtml">Shiptheory_Shippinglabels_Adminhtml</shippinglabels>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<events>
			<core_block_abstract_prepare_layout_before>
				<observers>
					<shippinglabels_core_block_abstract_prepare_layout_before>
						<class>shippinglabels/observer</class>
						<method>addShippingAction</method>
					</shippinglabels_core_block_abstract_prepare_layout_before>
				</observers>
			</core_block_abstract_prepare_layout_before>
		</events>	
		<layout>
			<updates>
				<shiptheory>
					<file>shiptheory.xml</file>
				</shiptheory>
			</updates>
		</layout>
		<menu>
			<sales>
				<children>
					<shippinglabels translate="title" module="shippinglabels">
						<title>Shiptheory Messages</title>
						<sort_order>15</sort_order>
						<action>adminhtml/shippinglabels_shippinglabels</action>
					</shippinglabels>
				</children>
			</sales>
		</menu>
		<acl>
			<resources>
				<admin>
					<children>
						<sales>
							<children>
								<shippinglabels translate="title" module="shippinglabels">
									<title>Shiptheory Messages</title>
									<sort_order>15</sort_order>
									<action>shippinglabels/adminhtml_shippinglabels</action>
								</shippinglabels>
							</children>
						</sales>
						<system>
							<children>
								<config>
									<children>
										<shippinglabels translate="title" module="shippinglabels">
											<title>Shiptheory Setup</title>
											<sort_order>20</sort_order>
										</shippinglabels>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
		<shippinglabels>
			<misc>
				<apikey>--- Obtain from Shiptheory.com ---</apikey>
			</misc>
			<default>
				<status></status>
				<retrylimit>50</retrylimit>
				<apiname>Shiptheory</apiname>
				<apiemail>support@shiptheory.com</apiemail>
				<apiusername>shiptheory</apiusername>
				<apiuserid>0</apiuserid>
			</default>
			<endpoint>
                <order>http://quark.madcapsule.com/shiptheory.py</order>
                <setup>https://helm.shiptheory.com/magento/setup</setup>
			</endpoint>
		</shippinglabels>
	</default>
</config>
